<div class="card h-100 w-100" style="width: 95%; height: 95%; margin: 0 auto;">
  <div class="card-header pt-3">
    <h3>Lojas Cadastradas<button class="btn btn-primary ml-3" (click)="novoLoja()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
      Novo
    </button></h3>
  </div>
  <div>
    <main>
      <div class="container-fluid px-4">
        <!--Conteudo-->
        <div>
          <div class="card-body">
            <div class="row justify-content-center">
              <div class="col-lg-8 col-xl-7">
                <div *ngIf="lojas?.length == 0" class="alert alert-danger" role="alert">
                  Não existem lojas cadastradas!
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <table *ngIf="lojas && lojas.length > 0" class="table shadow-lg table-round-corner">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Observacao</th>
                    <th scope="col">Endereço</th>
                    <th scope="col" colspan="3" style="text-align: center">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let loja of lojas">
                    <th scope="row">{{ loja.id }}</th>
                    <td>{{ loja.nome }}</td>
                    <td>{{ loja.observacao }}</td>
                    <td>{{ loja.logradouro }}, {{ loja.numero }} - {{ loja.bairro }}, {{ loja.cidade }} - {{ loja.estado }}, {{ loja.cep }}</td>
                    <td style="text-align: center">
                      <a class="btn btn-info" (click)="editarLoja(loja.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                        Detalhes
                      </a>
                    </td>
                    <td style="text-align: center">
                      <a class="btn btn-info" (click)="getLocation(loja.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                          <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                          <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        Mapa
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
