.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }

  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }

  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .example-box:last-child {
    border: none;
  }

  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

.table-round-corner {
  width: 100%;
  text-align: center;
  overflow:hidden;
  border: solid #ccc 1px;
  -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
          border-radius: 10px;
}


.btn {
  margin: 4px;
  transition: 400ms;
}

.btn-color-success {
  font-weight: 700;
  color: #008B8B;
  /* background-color: #008B8B; */
  border-color: #008B8B;
}

.btn-color-success:hover {
  /* color: var(--btn-color-sucess); */
  color: #fff;
  background-color: #19b4b8;
  border-color: #008B8B;
}

.btn-outline-warning, .btn-outline-info {
  font-weight: bold;
}


.btn-outline-warning:hover, .btn-outline-info:hover {
  color: #fff;
  /* font-weight: bold; */
}
