<div class="row ccontainer-fluid px-4" style="height: 60vh;">
  <div class="col table table-round-corner mb-0 mt-4 mr-4 ml-4 shadow" >
    <h4 class="mt-4 mb-4">Faturamento por estado</h4>
    <table class="table table-round-corner" style="height: 100%;">
      <thead>
        <tr>
          <th scope="col">ESTADO</th>
          <th scope="col">FATURAMENTO</th>
          <th scope="col">PEDIDOS TOTAIS</th>
        </tr>
      </thead>
      <tbody  >
        <tr *ngFor="let pedidoEstado of pedidosEstados">
          <td>{{pedidoEstado.estado}}</td>
          <td>{{pedidoEstado.valor_total_faturado?.toString() | currency: "R$"}}</td>
          <td>{{pedidoEstado.qtd_pedidos}}</td>
        </tr>
        <tr>
      </tbody>
    </table>
  </div>

  <div  class="col table-round-corner mt-4 mr-4 shadow d-flex justify-content-center">
    <div >
      <h4 class="text-center mt-4 mb-2">Nossas Lojas</h4>
      <google-map [options]="mapOptions" height="80vh" width="100vw" [center]="center" [zoom]="zoom">
        <map-marker #marker="mapMarker" *ngFor="let markerPosition of markerPositions"
          [position]="markerPosition" [options]="markerOptions"></map-marker>
      </google-map>
    </div>
  </div>
</div>
