.table-round-corner {
  width: 100%;
  overflow:hidden;
  border: solid #ccc 1px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.disable-btn {
  border-color: #ccc;
  margin: 0;
  font-weight: 700;
  border-color: #ccc;
}

.close-x:hover {
  color: #f00;
}

.btn {
  transition: 400ms;
}

.btn-color-success {
  margin: 0;
  font-weight: 700;
  color: #008B8B;
  border-color: #008B8B;
}

.btn-color-success:hover {
  color: #fff;
  background-color: #19b4b8;
  border-color: #008B8B;
}

.btn-cancel {
  font-weight: 700;
  border-color: #4F5760;
  color: #4F5760;
}

.btn-cancel:hover {
  color: #fff;
  background-color: #8D97A2;
}

.btn-outline-warning, .btn-outline-info {
  font-weight: bold;
}

.btn-outline-warning:hover, .btn-outline-info:hover {
  color: #fff;
}
