.btn {
  transition: 400ms;
}

.btn-color-success {
  font-weight: 700;
  color: #fff;
  background-color: #008B8B;
  border-color: #008B8B;
}

.btn-color-success:hover {
  background-color: #19b4b8;
  border-color: #008B8B;
}

.btn-outline-warning, .btn-outline-info {
  font-weight: bold;
}

.btn-outline-warning:hover, .btn-outline-info:hover {
  color: #fff;
}