<div id="layoutSidenav">
  <div id="layoutSidenav_content">
      <main>
          <div class="container-fluid px-4">
              <!--Conteudo-->
              <div class="cantainer">
                  <div class="row justify-content-center">
                      <div class="col-lg-7">
                          <div class="card shadow-lg border-0 rounded-lg mt-5">
                              <div class="card-header">
                                  <h3 class="text-center font-weight-light my-4">Cadastro Loja</h3>
                              </div>
                              <div class="card-body">
                                  <form *ngIf="loja">
                                      <div class="form-floating mb-3">
                                          <input class="form-control" type="text" id="nome" name="nome"
                                              [(ngModel)]="loja.nome" />
                                          <label for="nome">Nome</label>
                                      </div>

                                      <div class="form-floating mb-3">
                                          <input class="form-control" type="text" id="observacao" name="observacao"
                                              [(ngModel)]="loja.observacao"/>
                                          <label for="nome">Observação</label>
                                      </div>

                                      <div class="row">
                                        <div class="form-floating mb-3 col">
                                          <input class="form-control" type="text" id="cep" name="cep"
                                              [(ngModel)]="loja.cep" (change)="consultaCep($event)"
                                              [ngClass]="cepValido === false ? 'alert-danger' : ''" />
                                          <label for="CEP">CEP</label>
                                        </div>
                                        <div class="col mr-3 ml-3">
                                          <div class="form-floating mb-3 mb-md-0">
                                              <input class="form-control" type="text" id="cidade" name="cidade"
                                                  [(ngModel)]="loja.cidade" [disabled]="true"
                                                  [ngClass]="cepValido === false ? 'alert-danger' : ''" />
                                              <label for="cidade">Cidade</label>
                                          </div>
                                        </div>
                                        <div class="col">
                                          <div class="form-floating mb-3 mb-md-0 ">
                                              <input class="form-control" type="text" id="estado" name="estado"
                                                  [(ngModel)]="loja.estado" [disabled]="true"
                                                  [ngClass]="cepValido === false ? 'alert-danger' : ''" />
                                              <label for="nome">Estado</label>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="row mb-3 d-flex justify-content-center" >
                                          <div class="col">
                                              <div class="form-floating mb-3 mb-md-0">
                                                  <input class="form-control" type="text" id="logradouro"
                                                      name="logradouro" [(ngModel)]="loja.logradouro"
                                                      [disabled]="true"
                                                      [ngClass]="cepValido === false ? 'alert-danger' : ''" />
                                                  <label for="logradouro">Logradouro</label>
                                              </div>
                                          </div>

                                          <div class="col col-lg-2 ml-3 mr-3">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" type="text" id="numero" name="numero"
                                                    [(ngModel)]="loja.numero" />
                                                <label for="numero">Número</label>
                                            </div>
                                          </div>

                                          <div class="col-md-3">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" type="text" id="bairro" name="bairro"
                                                    [(ngModel)]="loja.bairro" [disabled]="true"
                                                    [ngClass]="cepValido === false ? 'alert-danger' : ''" />
                                                <label for="bairro">Bairro</label>
                                            </div>
                                        </div>
                                      </div>

                                      <div class="row mb-3 d-flex justify-content-center">
                                          <div class="col">
                                              <div class="form-floating mb-3 mb-md-0">
                                                  <input class="form-control" type="text" id="complemento"
                                                      name="complemento" [(ngModel)]="loja.complemento" />
                                                  <label for="complemento">complemento</label>
                                              </div>
                                          </div>
                                      </div>
                                          <div class="mt-4 row">
                                              <button class="col btn btn-outline-primary btn-block btn-color-success mr-3" type="button"
                                                  (click)="salvar()">
                                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-down" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M3.5 10a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 0 0 1h2A1.5 1.5 0 0 0 14 9.5v-8A1.5 1.5 0 0 0 12.5 0h-9A1.5 1.5 0 0 0 2 1.5v8A1.5 1.5 0 0 0 3.5 11h2a.5.5 0 0 0 0-1h-2z"/>
                                                    <path fill-rule="evenodd" d="M7.646 15.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 14.293V5.5a.5.5 0 0 0-1 0v8.793l-2.146-2.147a.5.5 0 0 0-.708.708l3 3z"/>
                                                  </svg>
                                                  Salvar
                                              </button>
                                              <button class="col btn btn-outline-warning btn-block btn-cancel" type="button"
                                                  (click)="cancelar()">
                                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                                  </svg>
                                                  Cancelar
                                              </button>
                                          </div>
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </main>
  </div>
</div>
